
/* Navbar */

.navbar{
    height: 50px;
    background-color: rgb(139, 195, 74);
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    
}

.navbar input[type=button]{
    margin-top: 10px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(175, 180, 43);
    margin-left: 20px;
    Font-family: Copperplate, Copperplate Gothic Light, fantasy;
    padding-left: 20px;
    padding-right: 20px;
}

.wyszukaj{
    margin-left: auto;
    margin-right: 10px;   
}

.wyszukaj input[type="search"]{
    margin-left: auto;
    margin-right: 10px;
    padding: 8px;
    background-color: rgb(139, 195, 74);
    color: white;
    Font-family: Dejavu Sans, Arial, Verdana, sans-serif;

}
.wyszukaj input[type="search"]::-webkit-input-placeholder{
    color: white;
}

.wyszukaj input[type="button"]{
    background-color: rosybrown;
}

/*Witajka*/

.witajka{
 height: 250px;
 background-image: url(https://static01.nyt.com/images/2021/09/01/dining/01egg-roudnup-1/01egg-roudnup-1-superJumbo.jpg?quality=75&auto=webp);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}

/* Zawartosc strony */

.container{
    height: 500px;
    background-color: aqua;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

}

.container div{
    margin: 20px;
}

.left{
    height: 300px;
    min-width: 250px;
    background-color: blueviolet;
}

.middle{
    height: 300px;
    width: 700px;
    background-color:darkgray;
}

.right{
    height: 300px;
    width: 300px;
    background-color:chocolate
}


.inspiracje{
    
    padding: 60px 45px;
   
    background-color: darkseagreen;
    display: grid;
   
}

.inspiracjeSrodek{
   /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 30px;
}

.card{
    margin-top: 20px;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid black;
}